/*Estilo para tablets*/
@media only screen and (min-width: 768px) and (max-width: 979px) {

p {
	font-size: 14px;
	line-height: 20px;
}




/*intro*/
.intro h1 {
	font-size: 24px;
	line-height: 33px;
}

.intro p {
	font-size: 14px;
	line-height: 20px;
}

.sobre h2{
	font-size: 18px;
	line-height: 25px;
}

.sobre p {
	font-size: 14px;
	line-height: 20px;
}

.sobre .citacao p{
	margin-top: 15px;
}

.sobre .citacao cite{
	margin-top: -20px;
}


.dados {
	margin-left: 30px;
}

.icon ul li{
	margin: 30px 15px;
}

.logo_grande{
	margin-left: 30px;
}

}

/*Estilo para smartphone*/
@media only screen and (max-width: 767px) {

.header {
	position: relative;
	padding-bottom: 0px;
}

.header img {
	margin: 0 auto 10px auto;
}

.header_menu {
	text-align: center;
}

.header_menu ul li {
	margin: 5px;
}

.header_menu ul li a {
	border: 4px solid #000;
	width: 136px;
	display: block;
	float: left;
}

.header_menu ul li a:hover {
	border-color: #fff;
}
.header_menu ul li a.menu_ativo{
	border-color: #fff;
}


p {
	font-size: 14px;
	line-height: 20px;
}

/*intro*/
.intro h1 {
	margin-left: 5px;
	font-size: 20px;
	line-height: 28px;
}

.intro p {
	margin-left: 5px;
	font-size: 14px;
	line-height: 20px;
}

.sobre h2, p {
	margin-left: 5px;
}

.sobre p {
	margin-left: 5px;
}

.citacao p {
	margin-left: 5px;
}



.contato button{
	margin-left: 5px;
}

.dados {
	margin-left: 0px;
}

.dados p{
	margin-left: 5px;
}

.logo_grande{
	margin-top: -40px;
	margin-left: 5px;
}

.footer p{
	
	padding-bottom: 0;
}

.footer img{
	margin-top: -30px;
	margin-bottom: 0; 
	margin-left: -30px;
}


}